# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Streamlit Secrets
.streamlit/secrets.toml

# Data
# data/
# NSE.json
# *.csv
*.gz
*.zip

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
